* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: rgb(1, 7, 59);
}

.section1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  background-color: rgb(1, 7, 59);
}

.logo h1 {
  color: aqua;
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

#close {
  display: none;
}

.mobile {
  display: none;
}

.links li {
  list-style-type: none;
  padding: 0 1rem;
  cursor: pointer;
  position: relative;
}

.links li a:hover {
  color: aqua;
}

.links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.856);
  font-weight: bold;
}

.links li a.active::after,
.links li a:hover::after {
  content: "";
  width: 25%;
  height: 2px;
  background: aqua;
  position: absolute;
  bottom: -4px;
  left: 25px;
}

/* Hero Page */

#hero-page {
  width: 100%;
  padding: 2rem 5rem 0 5rem;
  background: rgb(1, 7, 59);
}

#hero-page div {
  width: 100%;
  display: flex;
  align-items: center;
}

#hero-page .heroImg {
  width: 70%;
  padding-top: 5rem;
}

#hero-page .heroImg > img {
  width: 100%;
  height: 37rem;
  object-fit: contain;
}

#hero-page .heroInfo {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero-page .heroInfo h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 0.9rem;
}

#hero-page .heroInfo h2 {
  font-size: 1.3rem;
  opacity: 0.8rem;
  line-height: 1.5;
  color: rgb(230, 225, 225);
}

#hero-page .heroInfo p {
  color: rgb(172, 166, 166);
  line-height: 1.7;
}

/* Project Page */
#projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  margin-top: 10rem;
}

#projects .projects-card {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card1 {
  width: 45%;
  height: 20rem;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
}

.project-card1 h2 {
  margin-bottom: 1rem;
}

.project-card1 p {
  line-height: 1.5rem;
}

/* Skill section */

#skills {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#skills img {
  width: 60%;
  height: 40rem;
  margin-top: 2rem;
  object-fit: cover;
}

#skills .skill1 h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#skills .skill1:first-child {
  margin-bottom: 3rem;
}

#skills .skill1 li {
  color: rgb(172, 166, 166);
  line-height: 1.5;
}

/* Contacts */

#contacts {
  width: 40%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacts form {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
}

#contacts form h2 {
  margin-bottom: 1rem;
}

#contacts form input {
  border: 1px solid rgb(172, 166, 166);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  outline: none;
}

#contacts form textarea {
  border: 1px solid rgb(172, 166, 166);
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  outline: none;
}

#contacts form button {
  width: 100%;
  max-width: 7rem;
  margin: 0 auto;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(3, 109, 109);
  color: #fff;
  margin-bottom: 1rem;
  outline: none;
  border: none;
}
#contacts form p {
  text-align: center;
  font-weight: 500;
}

/* Growth Page */
#growth {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#growth h3 {
  width: 100%;
  color: #fff;
  line-height: 2;
  margin-bottom: 2rem;
}

#growth > img {
  width: 50%;
  object-fit: cover;
}

#growth .buttons {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#growth .visitBtn{
  padding: 0.8rem 2.5rem;
  background: rgb(2, 100, 100);
  border-radius: 1rem;
  border: none;
  outline: none;
}

#growth .visitBtn a{
  text-decoration: none;
  color: whitesmoke;
  
}


@media (max-width: 799px) {

  #hero-page div {
    flex-direction: column;
  }

  #projects .projects-card {
    width: 100%;
    flex-direction: column;
  }

  .project-card1 {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
  }

  #contacts {
    width: 60%;
    height: 80vh;
  }

  #skills {
    max-width: 100%;
    padding: 3rem;
  }

  #skills img {
    width: 70%;
    height: 100%;
  }

  #skills .skill1 h1 {
    width: 100%;
    font-size: 1.7rem;
  }

  #skills .skill1 li {
    color: rgb(172, 166, 166);
    line-height: 1.2;
  }
}

@media (max-width: 477px) {
  .links {
    width: 100%;
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -500px;
    padding: 80px 0 0 10px;
    background: #fff;
  }

  .links li {
    margin-bottom: 5rem;
  }

  .links li a {
    color: #000;
    margin-bottom: 5rem;
  }

  #navbar .active {
    right: 0px;
  }

  #close {
    font-size: 2rem;
    display: initial;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
  }

  .mobile {
    display: block;
    font-size: 2rem;
    color: #fff;
  }
  #hero-page {
    padding: 2rem;
  }
  #hero-page .heroImg > img {
    width: 100%;
    height: 100%;
  }

  #hero-page .heroInfo h2 {
    font-size: 0.8rem;
  }

  #projects {
    padding: 1rem;
  }

  #projects {
    margin-top: 5rem;
  }

  #projects .projects-card {
    width: 100%;
    flex-direction: column;
  }

  .project-card1 {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }

  #skills {
    max-width: 100%;
    padding: 3rem 2rem 0 2rem;
    flex-direction: column;
  }
  #skills img {
    width: 100%;
    height: 100%;
  }

  #skills .skill1 h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  #contacts {
    width: 100%;
    height: 100vh;
    padding: 0 1rem 0 1rem;
  }

  #growth {
    max-width: 100%;
    /* height: 150vh; */
    flex-direction: column;
    padding: 1rem;
  }

  #growth .buttons {
    max-width: 100%;
  flex-direction: column;
  }

  #growth h3 {
    padding-top: 7rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#growth .visitBtn{
 margin-bottom: 1rem;
}

#growth > img {
  width: 100%;
  object-fit: cover;
}
}
